@media print {
  html,
  body {
    border: 1px solid white;
    height: 99%;
    page-break-after: avoid;
    page-break-before: avoid;
  }
  body * {
    visibility: hidden;
  }
  .reportPrint,
  .reportPrint * {
    visibility: visible;
  }
  .reportPrint {
    position: absolute;
    left: 0;
    top: 0px;
  }
  @page {
    size: landscape;
  }
}

@media screen {
  .reportPrint {
    max-width: 80vw;
  }
}
